<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>test7</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>org.reactjs.native.example.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>arial.ttf</string>
		<string>arialbd.ttf</string>
		<string>arialbi.ttf</string>
		<string>ariali.ttf</string>
		<string>ARIALN.TTF</string>
		<string>ARIALNB.TTF</string>
		<string>ARIALNBI.TTF</string>
		<string>ARIALNI.TTF</string>
		<string>ariblk.ttf</string>
		<string>CircularStd-Black.otf</string>
		<string>Dosis-Bold.otf</string>
		<string>Entypo.ttf</string>
		<string>helvetica-neue-medium-5a0fb8a5c3f69.ttf</string>
		<string>Kanit-Black.ttf</string>
		<string>Kanit-BlackItalic.ttf</string>
		<string>Kanit-Bold.ttf</string>
		<string>Kanit-BoldItalic.ttf</string>
		<string>Kanit-ExtraBold.ttf</string>
		<string>Kanit-ExtraBoldItalic.ttf</string>
		<string>Kanit-ExtraLight.ttf</string>
		<string>Kanit-ExtraLightItalic.ttf</string>
		<string>Kanit-Italic.ttf</string>
		<string>Kanit-Light.ttf</string>
		<string>Kanit-LightItalic.ttf</string>
		<string>Kanit-Medium.ttf</string>
		<string>Kanit-MediumItalic.ttf</string>
		<string>Kanit-Regular.ttf</string>
		<string>Kanit-SemiBold.ttf</string>
		<string>Kanit-SemiBoldItalic.ttf</string>
		<string>Kanit-Thin.ttf</string>
		<string>Kanit-ThinItalic.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>SukhumvitSet-Bold.ttf</string>
		<string>sukhumvitset-light.ttf</string>
		<string>SukhumvitSet-Medium.ttf</string>
		<string>SukhumvitSet-SemiBold.ttf</string>
		<string>SukhumvitSet-Text.ttf</string>
		<string>SukhumvitSet-Thin.ttf</string>
		<string>SukhumvitSet.ttc</string>
	</array>
</dict>
</plist>
